<!DOCTYPE html>
<html lang="hu" xmlns:fb="https://www.facebook.com/2008/fbml">
{% include 'header.html' %}
<body>
    <div id="fb-root"></div>
    <div class="page-container-gc">		
		<div id="page">
			<div id="page-title"></div>
			<h1>Játékszabály</h1>
			<p>
                A játékszabály roppant egyszerű. Korhatártól, nemtől, vallási, politikai hovatartozástól függetlenül bátran csatlakozhat mindenki, a helyszín nem számít.
                Ha a <a href="http://www.facebook.com/groups/331314650233508/" target="_blank">helyi közös futásokon</a> nem tudsz részt venni de ég benned a vágy, hogy megmutasd, milyen aktív vagy, itt a lehetőség.
                Fuss rendszeresen, minden héten és rögzítsd! Lehet, hogy te leszel a hét győztese. Ha nem, az sem baj, mert behozhatod a lemaradásod a következő héten. 
                Ha elég lelkes vagy a hónap befutója lehetsz és az igazán elszánt bekerülhet az évi toplistába is. 
                Egy feladatod van, fuss és rögzítsd a kilométereidet, ezzel motiválva a többieket. 
                Ha úgy érzed ma nem vagy formában, akkor is látogass el, mert lehet, hogy a hét idézete neked szól, meríts belőle erőt és nézd meg a többiek mennyit futottak. 
            </p>
            <p>Felkészültél?</p>
            <p>Hajrá!</p>
            <p></p>
			<p>
				<a href="/">Vissza</a>
			</p>
		</div>
    {% include 'footer.html' %}		
    </div>
</body>
</html>
